@import url('y=Abrhttps://fonts.googleapis.com/css2?familil+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

/************container Where The Newspaper's Container is Held ******/

body { width:900px;
    background-color:#eee;
    margin:10%;
    box-sizing: border-box;
    font-family: sans-seri;
    border:solid #eee;
    padding-left:100px;
    padding-top:75px;
    padding-bottom:100px;
    box-shadow: 2px 5px 10px ;
    box-shadow:#eee; 

} 

/************ Newspaper Container ************/
.newspaper-container{
    width: 700px;
    height: 1100px;
    background: white;
    border-radius:3%; padding:5px ;
    box-shadow:  2px 5px 10px;
    box-shadow:#eee;
    padding-top:20px; 
    margin:0;
}  



/* *******Header Font **********************/

header h1{
    font-family: "Abril Fatface"; 
    font-size: 3em;
    font-style: normal;
    font-variant:normal;
    font-weight:bold;
    text-align:center;
    margin:0;

}

/****  Font Main Text Font*******************/

 body p {
     font-family: "Source Sans Pro";
     font-style: normal;
     font-weight: 800;
     margin:0;

    
}

/* *************Article Font*******************/
main h2{
    color:black;
    font-family: "Roboto Slab";
    font-style:oblique;
    font-weight: bolder;
    


}
 
/***********  Date Styling *******************/

 .newspaper-container div{ 

    font-size:small  ;
    margin-left: 0 0 0px 0;
    padding-top: 20px;
} 
/******** Header Styling(Hacker Times) ********/
.newspaper-container h1{
    font-family:;
    font-size: 3em;
    margin-right:100px;
    text-align:center;
    padding-left:100px; 
}

/*********** Sticky Nav  **********************/
nav{
    
    padding:0;
    margin:0;
    font-size:;
    position: sticky;
    top:10px;
    z-index:1;

}

/************ Ul Magin/Padding ***************/

 ul{
    padding: 0;  
     margin:0;
    

}



/************ Nav Link Container Styling ******/
   ul li{
    font-size:small;
    list-style:none;
    justify-content:;
    padding-left: 10px;
    border-style: solid none ;
    border-color: #eee;
    border-left:  solid white;
    border-right: solid white;
    display:inline-block;
    margin:0;

    

}


   /********** Main Paragreph Styling *********/

main p{
    text-align:justify;
    padding-left:40px ;
    padding-right:50px;
}


     /******** Article Below Header Styling ***/
main h2{
        text-align: left;
        padding-left: 40px;
 }
   /***** Journalist's Name In Red(h5) ********/
main h5{
        color:red;
        padding-bottom: px;
        padding-left:40px;
        float:left;
 }

  /*********** Main Image Styling *************/
 main img{
    width:615px;
    padding-top:;
    text-align:left;
    padding-left:40px;
       
 }




 /* ***** Horizontal Line with Styling Of  Smaller
              Images Along With The
           Small Paragraphs At Bottom ************/

.more-articles {
    width:
    border-bottom:10px solid black;
    border-style: solid none none none;
    border-color: #eee;
    text-align :justify;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:20px;
    column-count:2;
    padding-left:45px;
    padding-right;
    }